.btn {
  color: var(--black);
  border: solid 1px var(--black);
  background: transparent;
  line-height: 24px;
  padding: 0.75rem 1.5rem;
  border-radius: 1px;
  text-transform: uppercase;
  transition: all 150ms ease;
  font-weight: 500;
  font-size: 0.75rem;
  cursor: pointer;
  &:hover {
    background: var(--black);
    color: white;
  }
  & > a {
    text-decoration: none;
    color: inherit;
  }
  &:disabled {
    opacity: 0.5;
    &:hover {
      background: transparent;
      color: var(--black);
    }
  }
}
