:root {
  // fonts
  --headerFont: 'Cantata One', serif;
  --bodyFont:   'Helvetica Neue', 'Roboto', sans-serif;
  --baseFontSize: 16px;

  // colors
  --black:     #2C2B27;
  --gold:      #B29F58;
  --green:     #7ED321;
  --gray0:     #f8f8f8;
  --gray1:     #E5E4E3;
  --gray2:     #C2C1C1;

  font-size: var(--baseFontSize);
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: var(--bodyFont);
  color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headerFont);
  margin: 0;
}
p {
  margin: 0;
}
.page-wrapper { padding-top: 8rem; }

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  h1 {font-size: 3.375rem;}
  h2 {font-size: 2.5rem;}
  h3 {font-size: 1.35rem;}
  .page-wrapper { padding-top: 10rem; }
}

@media (min-width: 1200px) {

}
