.about-header {
  text-align: center;
}
.v-line {
  display: inline-block;
  width: 50px;
  background: var(--gold);
  min-height: 4px;
}
.about-content {
  order: 0;
  margin: 2rem 0;
}
.about-img {
  order: 1;
}
.about-footer {
  padding: 4rem 0;
}
.featured-in {
  background: var(--gray0);
  padding: 2rem 0;
  margin-bottom: 2rem;
  border-radius: 3px;
}


@media (min-width: 992px) {
  .about-content {
    order: 1;
    margin: 4rem 0;
    padding: 0 4rem;
    h3 {
      font-size: 1.85rem;
      line-height: 44px;
    }
    p {
      font-size: 0.875rem;
    }
  }
  .about-img {
    order: 0;
  }
  .about-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
  .v-line {
    display: inline-block;
    width: 2px;
    background: var(--gold);
    min-height: 200px;
  }
}
