.byo-wrapper {
  margin-top: 83px;
  min-height: calc(100vh - 83px);
}

.byo-container {
  padding: 2.5rem 0;
}

.byo-steps {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  .step {
    color: var(--black);
    opacity: 0.2;
    transition: all 300ms ease;
    position: relative;
    user-select: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.5rem 0.75rem;
    font-size: 0.65rem;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 25%;
      height: 2px;
      left: 50%;
      transform: translate(-50%, -10px) scaleY(0);
      margin-top: 0.5rem;
      opacity: 0;
      background: var(--gold);
      transition: all 300ms ease;
    }
    &.active {
      opacity: 1;
      &:after {
        transform: translate(-50%, 0px) scaleY(1);
        opacity: 1;
      }
    }
  }
}

fieldset {
  border: none;
  padding: 2rem 0;
  margin: 0;
}
.next-btn {
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: none;
  background-color: var(--gold);
  color: white;
  &:hover {
    background-color: darken(#B29F58, 10%);
  }
  &:disabled {
    opacity: 0.5;
  }
}
.prev-btn {
  border: none;
  background: none;
  padding: 0;
  height: auto;
  font-size: 0.75rem;
  &:hover {
    background: none;
    color: var(--black);
    opacity: 0.7;
  }
  &:active {
    outline: none;
  }
}
.tile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.tile {
  flex: 1 1 50%;
  position: relative;
  border-bottom: solid 1px var(--gray0);
  padding-bottom: 1rem;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.label-with-image {
  border-radius: 2px;
  background: white;
  transition: all 300ms ease;
  padding: 1rem;
  border: solid 1px transparent;
  cursor: pointer;
  transition: all 150ms ease;
  display: flex;
  position: relative;
  .label-content {
    text-align: center;
    flex: 1 1 auto;
    img {
      max-width: 100%;
    }
    .label-title {
      font-size: 1rem;
      text-transform: uppercase;
      margin-top: 0.5rem;
      font-weight: 800;
      letter-spacing: 1px;
    }
    .label-subtitle {
      font-size: 0.625rem;
      opacity: 0.5;
      transition: all 150ms ease;
      margin-top: 0.25rem;
    }
  }
}
input[type="radio"]:checked + .label-with-image {
  box-shadow: 0px 0px 0px 1px rgba(179, 159, 88,0.2);
  border-color: var(--gold);
  .checkmark {
    display: block;
  }
  &:hover {
    transform: translateY(0px);
  }
}

$check-height: 15px;
$check-width: 7px;
$check-thickness: 2px;
.checkmark {
  display: none;
  &.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }
  &:after {
    opacity: 1;
    height: $check-height;
    width: $check-width;
    transform-origin: left top;
    border-right: $check-thickness solid var(--gold);
    border-top: $check-thickness solid var(--gold);
    content: '';
    right: 20px;
    top: 18px;
    position: absolute;
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}

.form-slim {
  max-width: 500px;
  margin: 0 auto;
}
.form-row-h {
  display: flex;
  padding: 1.5rem 0;
  border-radius: 6px;
  border: solid 1px var(--gray1);
  margin-bottom: 1.5rem;
  align-items: flex-start;
  flex-direction: column;
  .form-row-title {
    flex: 0 0 100%;
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0 2rem;
    text-align: left;
    h3 {
      font-family: var(--bodyFont);
      font-weight: 400;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: var(--gold);
    }
  }
  .form-row-content {
    padding: 0 1rem;
    flex: 1 1 100%;
    width: 100%;
  }
  .sm-img-checkbox:last-child {
    margin-bottom: 0;
  }
}

.sm-img-checkbox {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  transition: all 150ms ease;
  border-radius: 6px;
  .sm-img-wrapper {
    background: white;
    margin-right: 1rem;
    flex: 0 0 70px;
    height: 70px;
    padding: 0.5rem;
    border-radius: 50%;
    border: solid 1px var(--gray1);
    transition: all 150ms ease;
    img {
      max-width: 100%;
    }
  }
  &:hover {
    background: var(--gray0);
    .sm-img-wrapper {
      box-shadow: 0px 0px 0px 3px rgba(179, 159, 88,0.2);
    }
  }
}
input[type="radio"]:checked + .sm-img-checkbox {
  .sm-img-wrapper {
    box-shadow: 0px 0px 0px 1px rgba(179, 159, 88, 0.5);
    border-color: var(--gold);
  }
}

.quote-form {
  max-width: 400px;
  margin: 0 auto;
}

// WOOD STYLES
.wood-style-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
.wood-type-check {
  border-radius: 6px;
  flex: 0 0 20%;
  margin: 1rem;
  cursor: pointer;
  transition: all 200ms ease;
  .wood-img {
    overflow: hidden;
    height: 150px;
    background: var(--gray0);
    border-radius: 6px 6px 0 0;
    img {
      max-width: 100%;
    }
  }
  .wood-description {
    text-align: center;
    padding: 0.65rem;
    border-left: solid 1px var(--gray1);
    border-right: solid 1px var(--gray1);
    border-bottom: solid 1px var(--gray1);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    font-weight: 500;
    background: white;
    font-size: 0.875rem;
  }
  &:hover {
    box-shadow: 0px 0px 0px 3px rgba(179, 159, 88,0.2);
  }
}
input[type="radio"]:checked + .wood-type-check {
  box-shadow: 0px 0px 0px 1px rgba(179, 159, 88, 0.5);
}

.stain-options {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: left;
  padding: 0.5rem;
  background: var(--gray0);
  border-radius: 6px;
  margin-top: 0.5rem;
  p {
    text-transform: uppercase;
    font-size: 0.65rem;
    opacity: 0.7;
    margin-bottom: 0.25rem;
  }
  .color-option {
    margin: 0.25rem 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    flex: 0 0 auto;
  }
  .color-option-label {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0 0.5rem 0 0;
    flex: 0 0 20px
  }
  .color-option-text {
    text-transform: none;
  }
}
.color-option {
  padding: 0 0.5rem;
  flex: 0 0 90px;
  margin-bottom: 1rem;
  text-align: center;
}
.color-option-label {
  border-radius: 50%;
  width: 2.1875rem;
  height: 2.1875rem;
  display: block;
  border: solid 1px var(--gray0);
  margin: 0 auto;
  padding: 0.825rem;
  transition: all 150ms ease;
  border: solid 2px white;
  cursor: pointer;
}
input[type="radio"]:checked + .color-option-label {
  box-shadow: 0px 0px 0px 3px rgba(179, 159, 88, 0.5);
}

.color-option-text {
  font-size: 0.65rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.7;
  transition: all 150ms ease;
  display: inline-block;
  padding: 0.5rem 0;
  white-space: nowrap;
}
.bg-brown {
  background-color: rgb(89, 59, 21);
}
.bg-black {
  background-color: var(--black);
}
.bg-cherry {
  background-color: rgb(158, 131, 94);
}
.bg-burgundy {
  background-color: rgb(133, 12, 48);
}
.bg-blue {
  background-color: rgb(25, 94, 166);
}
.bg-green {
  background-color: rgb(32, 143, 50);
}
.bg-clear {
  background-color: white;
  border: solid 1px var(--gray1);
}
.bg-brass {
  background: linear-gradient(#f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
}
.bg-steel {
  background: linear-gradient(#e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
}
.fabric-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-size: 1.15rem;
  cursor: pointer;
  .checkbox-indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: var(--gray1);
    flex: 0 0 20px;
    margin: 0.35rem 0.75rem 0 0;
    position: relative;
    transition: all 150ms ease;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 6px;
      height: 12px;
      left: 7px;
      top: 3px;
      border-right: 2px solid white;
      border-bottom: 2px solid white;
      transform: rotate(45deg);
      opacity: 0;
      transition: all 150ms ease;
    }
  }
  &:hover {
    .checkbox-indicator {
      background: var(--gray2);
      &:after {
        opacity: 0.5;
      }
    }
  }
}
input[type="checkbox"] {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}
input[type="checkbox"]:checked + .checkbox {
  .checkbox-indicator {
    background: var(--black);
    &:after {
      opacity: 1;
    }
  }
}

.dining-top {
  padding: 0.8rem 1.6rem;
}
// Media Queries

@media (min-width: 768px) {
  .byo-steps {
    margin-bottom: 1.75rem;
    .step {
      padding: 1rem 1.5rem;
      font-size: 0.875rem;
      letter-spacing: 2px;
    }
  }
  .tile {
    border-bottom: none;
    padding-bottom: 0;
  }
  .label-with-image {
    .label-content {
      .label-subtitle {
        opacity: 0;
        transform: translateY(-5px);
      }
    }
    &:hover {
      box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.1);
      transform: translateY(-4px);
      .label-content {
        .label-subtitle {
          opacity: 0.5;
          transform: translateY(0px);
        }
      }
    }
  }
  .wood-style-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .wood-type-check {
    &:hover {
    }
  }
  .color-option-label {
    &:hover {
      box-shadow: 0px 0px 0px 3px rgba(179, 159, 88, 0.2);
    }
  }
}

@media (min-width: 992px) {
  .tile {
    flex: 0 1 23%;
  }
}

.form {
  width: 100%;
  opacity: 0;
  transform: translateY(-100px);
  transition: all 400ms ease;
}
.form-entering {
  opacity: 0;
  transform: translateY(-100px);
}
.form-entered {
  opacity: 1;
  transform: translateY(0);
}
.form-exiting {
  transform: translateY(100px);
}
