.wrapper {
  min-height: 100vh;
  position: relative;
  // background: linear-gradient(rgba(248,248,248,1) 0%, rgba(255,255,255,1) 100%);
}
.header-content {
  position: relative;
  z-index: 100;
  align-items: flex-start;
}
.header-img {
  position: absolute;
  max-width: 300px;
  bottom: 0;
  right: 0;
  z-index: 0;
  max-height: 400px;
}
.seperator {
  margin-bottom: 1rem;
  display: block;
}

.home-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
}

@media (min-width: 992px) {
  .header-img {
    max-width: 400px;
  }
  .header-content {
    align-items: center;
  }
  .seperator {
    height: 100px;
    display: block;
    width: 2px;
    background: var(--gold);
    margin: 1rem auto;
  }
}
