.wrapper {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  // background: linear-gradient(rgba(248,248,248,1) 0%, rgba(255,255,255,1) 100%);
}
.header-content {
  position: relative;
  z-index: 100;
  align-items: flex-start;
}
.header-img {
  position: absolute;
  max-width: 450px;
  bottom: 0;
  right: -100px;
  z-index: 0;
}
.seperator {
  margin-bottom: 1rem;
  display: block;
}

.home-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
}

@media(max-width: 576px) {
  .header-img {
    max-width: 400px;
    right: -150px;
  }
}
@media (min-width: 992px) {
  .header-img {
    max-width: 550px;
  }
  .header-content {
    align-items: center;
  }
  .seperator {
    height: 100px;
    display: block;
    width: 2px;
    background: var(--gold);
    margin: 1rem auto;
  }
}
@media (min-width: 1400px) {
  .header-img {
    max-width: 700px;
    right: -50px;
  }
}

@media (min-width: 768px) {
  .logo-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .wrapper {
    justify-content: center;
    align-items: flex-start;
    padding: 80px 30px;
  }
  .home-footer {
    position: relative;
  }
  .logo-mobile {
    margin-bottom: 2.5rem;
  }
  .header-content {
    h1 {
      font-size: 1.5rem;
    }
    .lead {
      font-size: 0.9rem;
    }
  }
}
